* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #080d1d;
    color: #ffffff;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

/* Main Container */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Password Box */

.password-box {
    width: 100%;
    max-width: 500px;

    background: #111a2e;

    border: 1px solid #1d2942;
    border-radius: 14px;

    padding: 24px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

/* Header */

.header {
    margin-bottom: 22px;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.header p {
    color: #7f8ba3;
    font-size: 12px;
}

/* Password Display */

.password-display {
    height: 55px;

    background: #091124;

    border: 1px solid #16223b;
    border-radius: 8px;

    padding: 0 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 25px;
}

.password-display span {
    font-size: 16px;
    font-weight: 600;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.password-display button {
    width: 36px;
    height: 36px;

    border: none;
    border-radius: 7px;

    background: #1a2945;
    color: white;

    cursor: pointer;

    font-size: 16px;
}

.password-display button:hover {
    background: #26395c;
}

/* Section Header */

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.section-header label,
.section-header h3 {
    font-size: 12px;
    font-weight: 600;
}

#length-value {
    background: #2864e8;

    padding: 4px 8px;

    border-radius: 5px;

    font-size: 11px;
}

/* Range Slider */

#length {
    width: 100%;
    cursor: pointer;
    accent-color: #2864e8;
}

/* Character Options */

.options-section {
    margin-top: 25px;
}

.options-section h3 {
    font-size: 12px;
    margin-bottom: 10px;
}

.option {
    min-height: 40px;

    padding: 0 12px;

    background: #17233b;

    border: 1px solid #20304e;
    border-radius: 7px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 7px;

    cursor: pointer;
}

.option span {
    font-size: 11px;
    color: #d9deea;
}

/* Checkbox */

.option input {
    width: 16px;
    height: 16px;

    accent-color: #2864e8;

    cursor: pointer;
}

/* Strength */

.strength-section {
    margin-top: 24px;
}

.strength-section h3 {
    font-size: 12px;
}

#strength-text {
    color: #3bd477;
    font-size: 11px;
    font-weight: 600;
}

.strength-bars {
    display: flex;
    gap: 5px;
}

.strength-bars span {
    height: 5px;
    flex: 1;
    border-radius: 10px;
    background: #29354d;
    transition: 0.3s ease;
}

.strength-bars .weak {
    background: red;
}

.strength-bars .medium {
    background: orange;
}

.strength-bars .strong {
    background: #3bd477;
}

/* Generate Button */

.generate-btn {
    width: 100%;
    height: 44px;

    margin-top: 24px;

    border: none;
    border-radius: 7px;

    background: #2864e8;
    color: white;

    font-size: 12px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s;
}

.generate-btn span {
    margin-left: 5px;
    font-size: 15px;
}

.generate-btn:hover {
    background: #3a72ed;
}

.generate-btn:active {
    transform: scale(0.98);
}

/* Responsive */

@media (max-width: 600px) {

    body {
        padding: 15px;
    }

    .password-box {
        padding: 20px;
    }

    .header h1 {
        font-size: 21px;
    }

    .password-display span {
        font-size: 14px;
    }
}


.copy-popup {
    position: fixed;
    top: 25px;
    right: 25px;

    background: #17233b;
    color: #3bd477;

    border: 1px solid #29405f;
    border-radius: 8px;

    padding: 12px 18px;

    font-size: 13px;
    font-weight: 600;

    opacity: 0;
    transform: translateY(-20px);

    pointer-events: none;

    transition: 0.3s ease;
}

.copy-popup.show {
    opacity: 1;
    transform: translateY(0);
}