*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-container{
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.container{
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
}
.box{
  width: 150px;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
}
.red{
  background: red;
}
.blue{
  background: blue;
}
.orange{
  background: orange;
}
.green{
  background: green;
}
.flash{
  background: white !important;
}
.userflash{
  background: yellow;
}